@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.temp {
    font-family: "Pixelify Sans";
    font-weight: 700;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    color: #025B18;
}

.title {
    font-family: "Pixelify Sans";
    font-weight: 700;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.title .text {
    position: relative;
    font-size: 8vw;
    color: #1FC742;
      
}

.title .text.first-text {
    color: #025B18;
}

.title .text.sec-text::before {
    content: "JGKD.dev";
}

.title .text.sec-text::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #1FC742;
    right: -8px;
    background-color: black;
    animation: cursor .8s infinite, typing 20s steps(18);
}

li, a, button {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #025B18;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: #025b18;
}

header h1 {
    font-family: "Pixelify Sans";
    cursor: pointer;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a  {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #1FC742;
}

button {
    padding: 9px 25px;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    border-color: #025b18;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #EEF1DB;
}

button:hover {
    background-color: rgba(2, 91, 24, 0.8);
}

@keyframes typing {
    5%, 10%, 15%, 20%, 25%, 30%, 35%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95% {
        width: 0;
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid #1FC74200;
    }
}