@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.temp {
    font-family: "Pixelify Sans";
    font-weight: 700;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    color: #025B18;
}

.title {
    font-family: "Pixelify Sans";
    font-weight: 700;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.title .text {
    position: relative;
    font-size: 8vw;
    color: #1FC742;
      
}

.title .text.first-text {
    color: #025B18;
}

.title .text.sec-text::before {
    content: "JGKD.dev";
}

.title .text.sec-text::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #1FC742;
    right: -8px;
    background-color: black;
    animation: cursor .8s infinite, typing 1s steps(18, end) forwards;
}

section {
    margin-top: 75vh;
}

@keyframes typing {
    to {
        width: 0;
    }
    
}

@keyframes cursor {
    to {
        border-left: 2px solid #1FC74200;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .title .text {
    font-size: 15vw;
  }
}