.project-cards {
    margin-top: auto;
    /*Insert color here*/
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.project-cards .project-card {
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 320px;
}

.project-cards .project-card img {
    border-radius: 0%;
    width: 320px;
    height: 180px;
}

.project-card img:hover {
    filter: brightness(0.7);
}

.project-card .card-caption {
    font-family: sans-serif; /* Add font */
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}
