/* Generic Style Sheet */
/* Colors: https: //www.schemecolor.com/retro-computer.php?utm_content=cmp-true https: //www.schemecolor.com/retro-computer-neutrals.php*/


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
    --black: black;
    --darkgreen: #025B18;
    --darkgray: #747474;
    --temp: #3f3f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    /* background-color: #2E2E2E; lighter black - try with designs*/
    background-color: black;
    font-family: "Comfortaa", sans-serif;
    color: white;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    color: var(--darkgreen)
}

li, a, button {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #025B18;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: #025b18;
}

header h1 {
    font-family: "Pixelify Sans";
    cursor: pointer;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a  {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #1FC742;
}

.current {
    color: #1FC742;
    text-decoration: underline;
}

button {
    padding: 9px 25px;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    border-color: #025b18;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #EEF1DB;
}

button:hover {
    background-color: rgba(2, 91, 24, 0.8);
}

.mright {
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-family: "Pixelify Sans";
    font-weight: 500;
}


.mright-link:before {
    content: "[ ";
    font-family: sans-serif;
    font-style:normal;
}

.mright-link:after {
    content: " ]";
    font-family: sans-serif;
    font-style:normal;
}

.mright a {
    display: inline-block;
    text-decoration: none;
    color: var(--darkgreen);
}

.mright a:visited {
    color: var(--darkgreen);
}

.mright a:hover {
    /* color: lightgrey; */
    color: #00c7fe;
    animation: gradient 2s linear infinite;
}


.mright .mright-link {
    font-size: 5vw;
}

.moblie-mright {
    white-space: nowrap;
    padding: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-family: "Pixelify Sans";
    font-weight: 500;
}



.moblie-mright {
    align-items: center;
    text-align: center;
}

.moblie-mright .mright-link {
    font-size: 5vw;
    font-weight: 900;
    padding: 10px;
}

.moblie-mright .mright-link:nth-child(1) {
    font-size: 5vw;
    font-weight: 900;
    padding: 0px;
}


.moblie-mright a {
    display: inline-block;
    text-decoration: none;
    color: var(--darkgreen);
}

.moblie-mright a:visited {
    color: var(--darkgreen);
}

.moblie-mright a:hover {
    /* color: lightgrey; */
    color: #00c7fe;
    animation: gradient 2s linear infinite;
}


@keyframes gradient{
    from{
        filter:hue-rotate(0deg)
    }
    to{
        filter:hue-rotate(360deg)
    }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .mright .mright-link {
        font-size: 10vw;
        display: block;
    }
}